*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    --primary-color: #fff;
    --secondary-color: #333;
    --third-color: #2690d4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

header{
   min-height: 450px;
   background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
    text-align: center;
   filter: brightness(0.8)
}

header{
    color: var(--primary-color);
}

header{
    background-color: var(--secondary-color);
}

header h1{
    padding: 100px 0 0 0;
}

header p{
    padding: 18px 0 18px 0;
    text-align: center;
}

.container{
    width: 850px;
    display: inline-block;
}

.header_link-readmore {
    margin: 9px 0 9px 0;
    padding: 18px 35px 18px 35px;
    display: inline-block;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    color: var(--primary-color);
}

.header_link-readmore:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/*MAIN SECTION 1*/

.main_section-first{
    background-color: var(--primary-color);
    text-align: center;
}

.main_section-first h2{
    padding: 25px 0 25px 0;
    color: var(--secondary-color);
}

.main_section-first-article{
    width: 50%;
    display: inline-block;
    text-align: justify;
    padding-right: 10px;
}

.main_section-second-article{
    width: 50%;
    display: inline-block;
    text-align: justify;
    padding: 0 10px 50px 0;
}

/*MAIN SECTION 2*/

.main_section-second{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 35px 0 35px 0;
}

.main_card h2{
    padding: 30px 0 30px 0;
    font-size: 20px;
}

.main_card p{
    padding: 0 25px 30px 25px;
}

.main_card{
    height: 495px;
    width: 260px;
    display: inline-block;
    background-color: var(--primary-color);
    text-align: center;
    margin-right: 15px;
    overflow: hidden;

}
.main_card img{
    height: 180px;
    width: 260px;
    object-fit: cover;
}

.main_section-three{
    height: 250px;
    text-align: center;
}

.main_section-three h2{
    text-align: center;
    font-size: 26px;
    padding-top: 60px;
}

.main_section-three p{
    text-align: center;
    padding-top: 44px;
}

.main_section-four{
    height: 310px;
    text-align: center;
}

.section-four-col1{
    display: inline-block;
    height: 100%;
    width: 50%;
    padding: 35px 0 35px 0;
    background-color: var(--third-color);
    color: var(--primary-color);
}

.section-four-col1 h2{
    padding: 26px 0 26px 0;
}

.section-four-col1 p{
    padding: 18px 0 18px 0;
}

.section-four-col2{
    display: inline-block;
    height: 100%;
    width: 50%;
    padding: 35px 0 35px 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.section-four-col2 h2{
    padding: 26px 0 26px 0;
}

.section-four-col2 p{
    padding: 14px 0 13px 0;
}

.footer{
    height: 100px;
    text-align: center;
    background-color: black;
}

.footer-col1{
    display: inline-block;
    height: 100%;
    width: 50%;
    padding: 35px 0 35px 0;
    color: var(--primary-color);
}

.footer-col2{
    display: inline-block;
    height: 100%;
    width: 50%;
    padding: 35px 0 35px 0;
    color: var(--primary-color);
}

.footer-col2 span{
    color: var(--third-color);
}